---
import Layout from '../layouts/Layout.astro';
---

<Layout title="External Link">
  <div>
    <h2>SNS</h2>
    <ul>
      <li>
        <a href='https://twitter.com/mochi_dog_phys'>X</a>
        <p>著者のX（旧Twitter）アカウントです。</p>
      </li>
      <li>
        <a href='https://github.com/inuverse44'>GitHub</a>
        <p>著者のGitHubアカウントです。</p>
      </li>
      <li>
        <a href='https://note.com/inunoute_scitech'>Note</a>
        <p>著者のNoteアカウントです。</p>
      </li>
    </ul>

    <h2>Cosmology</h2>
    <ul>
      <li>
        <a href='https://arxiv.org/'>arXiv</a>
        <p>プレプリントの投稿サイトです。</p>
      </li>
      <li>
        <a href='https://inspirehep.net/'>iNSPIRE HEP</a>
        <p>素核宇系の文献データベースです。</p>
      </li>
      <li>
        <a href='https://ui.adsabs.harvard.edu'>NASA ADS</a>
        <p>文献データベースです。古めなものが多い気がします。</p>
      </li>
    </ul>

    <h2>Tech</h2>
    <ul>
      <li>
        <a href='https://rust-lang.org/ja/'>Rust Official Page</a>
        <p>Rustの公式サイトです。</p>
      </li>
      <li>
        <a href='https://doc.rust-lang.org/book/'>Rust The Book</a>
        <p>Rustの本です。</p>
      </li>
      <li>
        <a href='https://connpass.com/user/inuverse/'>compass</a>
        <p>著者のコンパスアカウントです。</p>
      </li>
      <li>
        <a href='https://zenn.dev/tatsukikodama'>Zenn</a>
        <p>著者のZennアカウントです。</p>
      </li>
      <li>
        <a href='https://qiita.com/inuverse44'>Qiita</a>
        <p>著者のQiitaアカウントです。</p>
      </li>
    </ul>

    <h2>Webアプリ</h2>
    <ul>
      <li>
        <a href='https://mnist-app-668195407842.asia-northeast1.run.app'>MNIST-Kotlin</a>
        <p>MnistをKotlinで学習して、数字の認識を行うアプリです。行列計算から学習まで外部ライブラリを経由せずロジックを構築しています。</p>
        <p>Repository: <a href='https://github.com/inuverse44/MNIST-Kotlin'>MNIST-Kotlin</a></p>
      </li>
    </ul>
  </div>
</Layout>
