---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Kotlin Test">
  <div class="markdown">
    <pre class="shiki one-dark-pro" style="background-color:#282c34;color:#abb2bf" tabindex="0"><code><span class="line"><span style="color:#61AFEF">fun</span><span style="color:#ABB2BF"> </span><span style="color:#61AFEF">main</span><span style="color:#ABB2BF">() {"{"}</span></span>
<span class="line"><span style="color:#ABB2BF">    </span><span style="color:#61AFEF">println</span><span style="color:#ABB2BF">(</span><span style="color:#98C379">"Hello, Kotlin!"</span><span style="color:#ABB2BF">)</span></span>
<span class="line"><span style="color:#ABB2BF">{"}"}</span></span></code></pre>

    <div class="language-kotlin">
fun main() {"{"}
    println("Hello, Kotlin!")
{"}"}
    </div>
  </div>
</Layout>
