.footer {
  padding: 16px 0; /* align vertical rhythm to 16px */
  border-top: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color-secondary);
  font-size: 14px;
}

.socialLinks {
  display: flex;
  gap: 15px;
  margin-top: 10px; /* Add some space between copyright and social links */
}
