.header {
  padding: 20px 0;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  width: 100%;
  padding-inline: 16px;
}

.title a {
  color: var(--header-title-color);
  text-decoration: none;
  font-size: clamp(20px, 5vw, 24px);
  font-weight: bold;
  display: flex; /* Make the link a flex container */
  align-items: center; /* Vertically align logo and text */
}

.logoLight,
.logoDark {
  margin-right: 10px; /* Space between logo and title text */
}

.logoDark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .logoLight {
    display: none;
  }

  .logoDark {
    display: block;
  }
}

@media (max-width: 480px) {
  /* Make sure logo doesn't dominate small screens */
  .title img {
    width: 64px;
    height: 64px;
  }
}
